@model IEnumerable<Madera.Models.Composant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LIBELLE_COMPOSANT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NATURE_COMPOSANT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CARACT_COMPOSANT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UNITE_USAGE_COMPOSANT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LIBELLE_COMPOSANT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NATURE_COMPOSANT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CARACT_COMPOSANT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UNITE_USAGE_COMPOSANT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_COMPOSANT">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_COMPOSANT">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_COMPOSANT">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
