@model IEnumerable<Madera.Models.Commercial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOM_COMMERCIAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRENOM_COMMERCIAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MDP_COMMERCIAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL_COMMERCIAL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOM_COMMERCIAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRENOM_COMMERCIAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MDP_COMMERCIAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL_COMMERCIAL)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
